<div class="accident-situation">
  <h2 class="title text-center pt-3 pb-3 text-littleGray">生产安全事故现状</h2>
  <div class="header pt-2 pb-2">
    <div class="ui-inputgroup"></div>
    <div class="button">
      <button pButton type="button" style="background: #ffffff" [label]="acSituationOrgTreeSelectLabel" class="ui-button-secondary" (click)="acSituationOperate(acSituationOperateFlag = 'tree')"></button>
    </div>
  </div>
  <div class="content">
    <div class="ui-g" style="height: 100%;padding: 1vh 2vw;border-radius: 15px;box-shadow: 0 0 20px #C4C4C4;background: #FFFFFF;">
      <!--事故走势-->
      <div class="ui-g-7 ui-md-7" style="height: 80%;">
        <!--<app-echarts-bar-risk
          [echartData]="acSituationBar"
          [showAxisLabel]="true"
          [showSplitLine]="true"
          [barColor]="'#226AD5'"
          (chartClick)="acSituationOperate(acSituationOperateFlag = 'chart',$event)"
          [title]="'事故走势'">
        </app-echarts-bar-risk>-->
        <app-echarts-bar-line
          yAxisSplitLineType="dashed"
          [isShowLegend]="false"
          [isShowLineTooltip]="false"
          [isShowDotted]="false"
          [showSplitLine]="true"
          [showAxisLabel]="true"
          [echartData]="acSituationBar"
          [barColor]="['#4261df']"
          [lineColor]="['#D08AEE']"
          (chartClick)="acSituationOperate(acSituationOperateFlag = 'chart',$event)"
          title="事故走势">
        </app-echarts-bar-line>
      </div>
      <!--事故占比-->
      <div class="ui-g-5 ui-md-5" style="height: 80%">
        <h4 style="padding-top: 10px;color: #4D4F5C"></h4>
        <p-calendar
          #calendarDate
          placeholder="点击选择开始日期"
          [locale]="acSituationEs" [(ngModel)]="acSituationStartTime"
          dateFormat="yy-mm-dd"
          dataType="string"
          [monthNavigator]="true"
          [yearNavigator]="true"
          [showTime]="false"
          yearRange="1930:2030">
          <p-footer>
            <button pButton type="button" label="关闭" class="ui-button-warning" (click)="calendarDate.hideOverlay()"></button>
          </p-footer>
        </p-calendar>
        <p-calendar
          styleClass="ml-3"
          #calendarDate
          placeholder="点击选择结束日期"
          [locale]="acSituationEs" [(ngModel)]="acSituationEndTime"
          dateFormat="yy-mm-dd"
          dataType="string"
          [monthNavigator]="true"
          [yearNavigator]="true"
          [showTime]="false"
          yearRange="1930:2030">
          <p-footer>
            <button pButton type="button" label="关闭" class="ui-button-warning" (click)="calendarDate.hideOverlay()"></button>
          </p-footer>
        </p-calendar>
        <button pButton type="button" label="查询" class="ui-button-danger ml-3" (click)="acSituationOperate(acSituationOperateFlag = 'changeChart')"></button>
        <app-echarts-pie-trouble
          [title]="'事故占比'"
          unit="起"
          [echartData]="acSituationPie">
        </app-echarts-pie-trouble>
      </div>
    </div>
  </div>
  <div class="modal">
    <!--组织树弹窗-->
    <p-dialog
      [modal]="true"
      [(visible)]="acSituationOrgTreeModal" [blockScroll]="true"
      [contentStyle]="{width: '30vw',height: '30vh'}">
      <p-header>请选择组织单位</p-header>
      <p-scrollPanel [style]="{width: '100%', height: '250px'}">
        <p-tree
          [style]="{width: '100%'}"
          [value]="acSituationOrgTree"
          [(selection)]="acSituationOrgTreeSelect"
          selectionMode="single">
        </p-tree>
      </p-scrollPanel>
      <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="acSituationOperate('select')" label="确定"></button>
      </p-footer>
    </p-dialog>
  </div>
</div>
