<div class="intent-status">
  <h2 class="title text-center pt-3 pb-3 text-littleGray">目标职责管理现状</h2>
  <div class="header pt-2 pb-2">
    <div class="ui-inputgroup"></div>
    <div class="button">
      <button pButton type="button" [label]="intentStatusOrgTreeSelectLabel" class="ui-button-secondary" (click)="intentStatusOperate(intentStatusOperateFlag = 'tree')"></button>
    </div>
  </div>
  <div class="content">
    <div class="ui-g" style="height: 50%">
      <!--chart统计图-->
      <div class="ui-g-7 ui-md-7" style="height: 100%">
        <app-echarts-bar-stack
          [title]="'各级安全活动数量统计图'"
          [showSplitLine]="true"
          [showAxisLabel]="true"
          [color]="['#024EC1', '#1F6BEC', '#4784EC', '#8DB7FF', '#C9D6FF']"
          [echartData]="intentStatusTopBar">
        </app-echarts-bar-stack>
      </div>
      <div class="ui-g-5 ui-md-5" style="height: 100%">
        <app-echarts-line-normal
          [title]="'事故占比'"
          [echartData]="intentStatusTopLine">
        </app-echarts-line-normal>
      </div>
    </div>
    <div class="ui-g" style="height: 50%">
      <!--chart统计图-->
      <div class="ui-g-6 ui-md-6" style="height: 100%">
        <app-echarts-bar-risk
          [echartData]="intentStatusBottomLeftBar"
          [showAxisLabel]="true"
          [showSplitLine]="true"
          [barColor]="'#58C1F9'"
          [title]="'一岗双责职责分数统计图'">
        </app-echarts-bar-risk>
      </div>
      <div class="ui-g-6 ui-md-6" style="height: 100%">
        <app-echarts-bar-risk
          [echartData]="intentStatusBottomRightBar"
          [showAxisLabel]="true"
          [showSplitLine]="true"
          [barColor]="'#3B86FF'"
          [title]="'目标完成情况分数统计图'">
        </app-echarts-bar-risk>
      </div>
    </div>
  </div>
  <div class="modal">
    <!--组织树弹窗-->
    <p-dialog
      [modal]="true"
      [(visible)]="intentStatusOrgTreeModal" [blockScroll]="true"
      [contentStyle]="{width: '30vw',height: '30vh'}">
      <p-header>请选择组织单位</p-header>
      <p-scrollPanel [style]="{width: '100%', height: '250px'}">
        <p-tree
          [style]="{width: '100%'}"
          [value]="intentStatusOrgTree"
          [(selection)]="intentStatusOrgTreeSelect"
          selectionMode="single">
        </p-tree>
      </p-scrollPanel>
      <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="intentStatusOperate('select')" label="确定"></button>
      </p-footer>
    </p-dialog>
  </div>
</div>

