<div class="intent-status">
  <h2 class="title text-center pt-3 pb-3 text-littleGray">目标职责管理现状</h2>
  <div class="header pt-2 pb-2">
    <div class="ui-inputgroup"></div>
    <div class="button">
      <button pButton type="button" [label]="intentStatusOrgTreeSelectLabel" style="background: #fff" class="ui-button-secondary" (click)="intentStatusOperate(intentStatusOperateFlag = 'tree')"></button>
    </div>
  </div>
  <div class="content">
    <div class="ui-g" style="height: 49%;margin-bottom: 1%;">
      <!--chart统计图-->
      <div style="height: 100%;width: 49.4%;background: #fff;margin-right: 0.6%;border-radius: 15px;box-shadow: 0 0 20px #C4C4C4;" >
        <app-echarts-bar-stack
          [title]="'各级安全活动数量'"
          [showSplitLine]="true"
          [showAxisLabel]="true"
          [color]="['#4261df', '#58c1f9', '#63dcaf', '#ffd800', '#ff7800']"
          [echartData]="intentStatusTopBar">
        </app-echarts-bar-stack>
      </div>
      <div style="height: 100%;width: 49.4%;background: #fff;margin-left: 0.6%;border-radius: 15px;box-shadow: 0 0 20px #C4C4C4;">
        <app-echarts-line-normal
          [title]="'安全生产投入支出'"
          [echartData]="intentStatusTopLine">
        </app-echarts-line-normal>
      </div>
    </div>
    <div class="ui-g" style="height: 49%;margin-top: 1%;">
      <!--chart统计图-->
      <div style="height: 100%;width: 49.4%;background: #fff;margin-right: 0.6%;border-radius: 15px;box-shadow: 0 0 20px #C4C4C4;">
        <app-echarts-bar-risk
          [echartData]="intentStatusBottomLeftBar"
          [showAxisLabel]="true"
          [showSplitLine]="true"
          [barColor]="'#ffd800'"
          [title]="'一岗双责职责分数'">
        </app-echarts-bar-risk>
      </div>
      <div style="height: 100%;width: 49.4%;background: #fff;margin-left: 0.6%;border-radius: 15px;box-shadow: 0 0 20px #C4C4C4;">
        <app-echarts-bar-risk
          [echartData]="intentStatusBottomRightBar"
          [showAxisLabel]="true"
          [showAxisLine]="true"
          [showSplitLine]="true"
          [barColor]="'#ff270a'"
          [title]="'目标完成情况分数'">
        </app-echarts-bar-risk>
      </div>
    </div>
  </div>
  <div class="modal">
    <!--组织树弹窗-->
    <p-dialog
      [modal]="true"
      [(visible)]="intentStatusOrgTreeModal" [blockScroll]="true"
      [contentStyle]="{width: '30vw',height: '30vh'}">
      <p-header>请选择组织单位</p-header>
      <p-scrollPanel [style]="{width: '100%', height: '250px'}">
        <p-tree
          [style]="{width: '100%'}"
          [value]="intentStatusOrgTree"
          [(selection)]="intentStatusOrgTreeSelect"
          selectionMode="single">
        </p-tree>
      </p-scrollPanel>
      <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="intentStatusOperate('select')" label="确定"></button>
      </p-footer>
    </p-dialog>
  </div>
</div>

