<div class="accident-record">
  <h2 class="title text-center pt-3 pb-3 text-littleGray">安全生产事故记录</h2>
  <div class="header pt-2 pb-2">
    <div class="ui-inputgroup">
      <!--      <input type="text" pInputText placeholder="搜索"/>-->
      <!--      <button pButton type="button" icon="pi pi-search" class="ui-button-warn"></button>-->
    </div>
    <div class="button">
      <button pButton type="button" label="新增记录" class="ui-button-rounded" (click)="acRecordOperate(acRecordOperateFlag = 'add')"></button>
      <button pButton type="button" label="批量删除" class="ui-button-rounded ui-button-danger ml-2" (click)="acRecordOperate(acRecordOperateFlag = 'multiple')"></button>
      <!--      <button pButton type="button" label="文件导入" class="ui-button-rounded ui-button-darkPrimary ml-2 mr-2" (click)="educateImportFieldModal=true"></button>-->
      <!--      <button pButton type="button" label="文件导出" class="ui-button-rounded ui-button-pink" (click)="educateOperate(educateOperateFlag = 'export')"></button>-->
    </div>
  </div>
  <div class="content">
    <p-table
      [value]="acRecordTableData"
      [columns]="acRecordTableHeader"
      [(selection)]="acRecordTableSelect"
      dataKey="id"
      [scrollable]="true"
      scrollHeight="90%"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>勾选</th>
          <th>序号</th>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
          <th style="width: 18%">操作</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
        <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex" style="text-align: center">
          <td>
            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
          </td>
          <td>{{rowIndex + 1}}</td>
          <td *ngFor="let col of columns" style="overflow: hidden;text-overflow: ellipsis" [pTooltip]="rowData[col.field]">
            {{rowData[col.field]}}
          </td>
          <td style="width: 18%">
            <button pButton label="详情" class="ui-button-rounded mr-3" (click)="acRecordOperate(acRecordOperateFlag='update',rowData)"></button>
            <button pButton label="删除" class="ui-button-rounded ui-button-pink" (click)="acRecordOperate(acRecordOperateFlag='del',rowData)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="pagination">
    <app-pagination [option]="acRecordPageOption" (clickEvent)="acRecordPageEvent($event)"></app-pagination>
  </div>
  <div class="modal">
    <!--新增/编辑弹窗-->
    <p-dialog
      [modal]="true"
      [blockScroll]="true"
      [(visible)]="acRecordOperateModal" [style]="{width: '50vw'}"
    >
      <p-header>{{acRecordOperateFlag === 'update' ? '记录编辑' : '记录添加'}}</p-header>
      <div style="width: 100%;height: 65vh;">
        <p-scrollPanel [style]="{width: '100%', height: '65vh'}" styleClass="role-scroll">
          <div class="ui-g">
            <!--组织培训单位-->
            <div class="ui-g-6 ui-md-6">
              <label class="ui-g-4 ui-md-4 label">
                <span>单位：</span>
              </label>
              <div class="ui-g-8 ui-md-8 input">
                <button
                  pButton type="button"
                  style="width: 100%"
                  [label]="acRecordOrgTreeSelect.label?acRecordOrgTreeSelect.label:acRecordOrgTreeSelectLabel"
                  class="ui-button-white text-left"
                  (click)="acRecordOperate(acRecordOperateFlag = 'tree')">
                </button>
              </div>
            </div>
            <!--事故地点-->
            <div class="ui-g-6 ui-md-6">
              <label class="ui-g-4 ui-md-4 label">
                <span>事故地点：</span>
              </label>
              <div class="ui-g-8 ui-md-8 input">
                <input type="text" pInputText placeholder="请填事故地点" [(ngModel)]="acRecordOperateField.accidentPlace">
              </div>
            </div>
            <!--事故类型-->
            <div class="ui-g-6 ui-md-6">
              <label class="ui-g-4 ui-md-4 label">
                <span>事故类型：</span>
              </label>
              <div class="ui-g-8 ui-md-8 input">
                <p-dropdown
                  [style]="{width: '100%'}"
                  [placeholder]="acRecordDropdownPlaceholder"
                  [options]="acRecordDropdownOptions" [(ngModel)]="acRecordDropdownSelected"
                  optionLabel="typeName" dropdownIcon="fa fa-caret-down">
                </p-dropdown>
              </div>
            </div>
            <!--事故数量-->
            <div class="ui-g-6 ui-md-6">
              <label class="ui-g-4 ui-md-4 label">
                <span>涉及人员数量：</span>
              </label>
              <div class="ui-g-8 ui-md-8 input">
                <input type="number" pInputText placeholder="请填涉及人员数量" [(ngModel)]="acRecordOperateField.accidentAccount">
              </div>
            </div>
            <!--事故时间-->
            <div class="ui-g-6 ui-md-6">
              <label class="ui-g-4 ui-md-4 label">
                <span>事故时间：</span>
              </label>
              <div class="ui-g-8 ui-md-8 input">
                <p-calendar
                  #calendarDate
                  placeholder="点击选择时间......"
                  [locale]="acRecordEs" [(ngModel)]="acRecordOperateField.accidentTime"
                  dateFormat="yy-mm-dd"
                  dataType="string"
                  [monthNavigator]="true"
                  [yearNavigator]="true"
                  [showTime]="false"
                  yearRange="1930:2030">
                  <p-footer>
                    <button pButton type="button" label="确定" class="ui-button-warning" (click)="calendarDate.hideOverlay()"></button>
                  </p-footer>
                </p-calendar>
              </div>
            </div>
            <!--召开警示教育会数-->
            <div class="ui-g-6 ui-md-6">
              <label class="ui-g-4 ui-md-4 label">
                <span>召开警示教育会数：</span>
              </label>
              <div class="ui-g-8 ui-md-8 input">
                <input type="number" pInputText placeholder="请填召开警示教育会数" [(ngModel)]="acRecordOperateField.educationAccount">
              </div>
            </div>
            <!--整改落实情况-->
            <div class="ui-g-12 ui-md-12">
              <label class="ui-g-2 ui-md-2 label">
                <span>整改落实情况：</span>
              </label>
              <div class="ui-g-10 ui-md-10 input">
                <textarea [rows]="5" [cols]="30" [(ngModel)]="acRecordOperateField.changeStatus" pInputTextarea autoResize="autoResize" placeholder="请填写备注"></textarea>
              </div>
            </div>
            <!--详细描述-->
            <div class="ui-g-12 ui-md-12">
              <label class="ui-g-2 ui-md-2 label">
                <span>详细描述：</span>
              </label>
              <div class="ui-g-10 ui-md-10 input">
                <textarea [rows]="5" [cols]="30" [(ngModel)]="acRecordOperateField.detail" pInputTextarea autoResize="autoResize" placeholder="请填写详细描述"></textarea>
              </div>
            </div>
            <!--原因分析-->
            <div class="ui-g-12 ui-md-12">
              <label class="ui-g-2 ui-md-2 label">
                <span>原因分析：</span>
              </label>
              <div class="ui-g-10 ui-md-10 input">
                <textarea [rows]="5" [cols]="30" [(ngModel)]="acRecordOperateField.reasonAnalysis" pInputTextarea autoResize="autoResize" placeholder="请填写原因分析"></textarea>
              </div>
            </div>
            <!--采取措施-->
            <div class="ui-g-12 ui-md-12">
              <label class="ui-g-2 ui-md-2 label">
                <span>采取措施：</span>
              </label>
              <div class="ui-g-10 ui-md-10 input">
                <textarea [rows]="5" [cols]="30" [(ngModel)]="acRecordOperateField.measure" pInputTextarea autoResize="autoResize" placeholder="请填写采取措施"></textarea>
              </div>
            </div>
          </div>
        </p-scrollPanel>
      </div>
      <p-footer>
        <button pButton label="保存" (click)="acRecordOperate(acRecordOperateFlag = 'save')"></button>
        <button pButton label="取消" class="ui-button-pink" (click)="acRecordOperateModal = false"></button>
      </p-footer>
    </p-dialog>
    <!--组织树弹窗-->
    <p-dialog
      [modal]="true"
      [(visible)]="acRecordOrgTreeModal" [blockScroll]="true"
      [contentStyle]="{width: '30vw',height: '30vh'}">
      <p-header>请选择组织单位</p-header>
      <p-scrollPanel [style]="{width: '100%', height: '250px'}">
        <p-tree
          [style]="{width: '100%'}"
          [value]="acRecordOrgTree"
          [(selection)]="acRecordOrgTreeSelect"
          selectionMode="single">
        </p-tree>
      </p-scrollPanel>
      <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="acRecordOperate('select')" label="确定"></button>
      </p-footer>
    </p-dialog>
  </div>
</div>

