<!--综合监测预警-->
<div class="monitor-comprehensive">
  <h2 class="title text-center pt-3 pb-3 text-littleGray">综合监测预警指标</h2>
  <div class="header pt-2 pb-2 pr-3">
    <div class="ui-inputgroup"></div>
    <div class="button">
      <p-dropdown
        (onChange)="monitorOperate(monitorOperateFlag = 'change', $event)"
        [style]="{width: '100%'}"
        [placeholder]="monitorDropdownPlaceholder"
        [options]="monitorDropdownOptions" [(ngModel)]="monitorDropdownSelected"
        dropdownIcon="fa fa-caret-down">
      </p-dropdown>
    </div>
  </div>
  <div class="content">
    <div class="ui-g" style="height: 100%">
      <!--上图 -->
      <div class="ui-g-12 ui-md-12 mb-2" style="height: 50%;background: #fff;border-radius: 15px; box-shadow: 0 0 20px #C4C4C4;">
        <app-echarts-line-scatter
          [title]="'综合监测预警值'"
          [color]="['#00FF00','#9F0099','#5B9BD5','#FFC000','#FF0000']"
          [echartData]="monitorBottomChart" (chartClick)="monitorOperate(monitorOperateFlag = 'chart', $event)">
        </app-echarts-line-scatter>
      </div>
      <!--下图-->
      <div class="ui-g-12 ui-md-12 mt-2" style="height: 50%;background: #fff;border-radius: 15px; box-shadow: 0 0 20px #C4C4C4;">
        <app-echarts-bar-dimensional
          [echartData]="monitorTopChart"
          [title]="'综合监测预警指标分类占比'">
        </app-echarts-bar-dimensional>
      </div>
    </div>
  </div>
</div>


