<!--应急预案评估历史记录-->
<div class="emergency-record">
  <h2 class="title text-center pt-3 pb-3 text-littleGray">应急预案评审记录</h2>
  <div class="header pt-2 pb-2">
    <div class="ui-inputgroup">
      <!--<input type="text" pInputText placeholder="搜索"/>-->
    </div>
    <div class="button">
<!--      <button pButton type="button" label="新增" class="ui-button-rounded" (click)="emRecordOperate(emRecordOperateFlag = 'add', fileUpload)"></button>-->
<!--      <button pButton type="button" label="批量删除" class="ui-button-rounded ui-button-danger ml-2" (click)="emRecordOperate(emRecordOperateFlag = 'multiple')"></button>-->
    </div>
  </div>
  <div class="content">
    <p-table
      [value]="emRecordTableData"
      [columns]="emRecordTableHeader"
      [(selection)]="emRecordTableSelect"
      dataKey="id"
      [scrollable]="true"
      scrollHeight="90%"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <!--<th>勾选</th>-->
          <th>序号</th>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
          <th>操作</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
        <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex" style="text-align: center">
        <!--  <td>
            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
          </td>-->
          <td>{{rowIndex + 1}}</td>
          <td *ngFor="let col of columns" style="overflow: hidden;text-overflow: ellipsis" [pTooltip]="col.field !== 'reviewStatus'?rowData[col.field]:rowData[col.field] === '0'?'未通过':'通过'">
            {{col.field !== 'reviewStatus'?rowData[col.field]:rowData[col.field] === '0'?'未通过':'通过'}}
          </td>
          <td>
            <button pButton label="详情" class="ui-button-rounded mr-3" (click)="emRecordOperate(emRecordOperateFlag='update',rowData)"></button>
            <button pButton label="附件" class="ui-button-rounded ui-button-warning" (click)="emRecordOperate(emRecordOperateFlag='open',rowData.reviewAttachmentPath)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="pagination">
    <app-pagination [option]="emRecordPageOption" (clickEvent)="emRecordPageEvent($event)"></app-pagination>
  </div>
  <div class="modal">
    <!--新增/编辑弹窗-->
    <p-dialog
      [modal]="true"
      [blockScroll]="true"
      [(visible)]="emRecordOperateModal" [style]="{width: '50vw'}"
    >
      <p-header>查看详情</p-header>
      <div style="width: 100%;height: 65vh;">
        <p-scrollPanel [style]="{width: '100%', height: '65vh'}" styleClass="role-scroll">
          <div class="ui-g">
            <!--应急预案名称-->
            <div class="ui-g-6 ui-md-6">
              <label class="ui-g-4 ui-md-4 label">
                <span>应急预案名称：</span>
              </label>
              <div class="ui-g-8 ui-md-8 input">
                <input type="text" disabled pInputText placeholder="暂无信息" [value]="emRecordOperateField.emergencyPlanName">
              </div>
            </div>
            <!--预案类别-->
            <div class="ui-g-6 ui-md-6">
              <label class="ui-g-4 ui-md-4 label">
                <span>预案类别：</span>
              </label>
              <div class="ui-g-8 ui-md-8 input">
                <input type="text" disabled pInputText placeholder="暂无信息" [value]="emRecordOperateField.reservePlanType">
              </div>
            </div>
            <!--评审状态-->
            <div class="ui-g-6 ui-md-6">
              <label class="ui-g-4 ui-md-4 label">
                <span>评审状态：</span>
              </label>
              <div class="ui-g-8 ui-md-8 input">
                <input type="text" disabled pInputText placeholder="暂无信息" [value]="emRecordOperateField.reviewStatus === '0'?'未通过': '通过'">
              </div>
            </div>
            <!--评审时间-->
            <div class="ui-g-6 ui-md-6">
              <label class="ui-g-4 ui-md-4 label">
                <span>评审时间：</span>
              </label>
              <div class="ui-g-8 ui-md-8 input">
                <input type="text" disabled pInputText placeholder="暂无信息" [value]="emRecordOperateField.reviewTime">
              </div>
            </div>
            <!--评审附件名称-->
            <div class="ui-g-6 ui-md-6">
              <label class="ui-g-4 ui-md-4 label">
                <span>评审附件名称：</span>
              </label>
              <div class="ui-g-8 ui-md-8 input">
                <input type="text" disabled pInputText placeholder="暂无信息" [value]="emRecordOperateField.reviewAttachmentName">
              </div>
            </div>
            <!--评审附件路径-->
            <div class="ui-g-6 ui-md-6">
              <label class="ui-g-4 ui-md-4 label">
                <span>评审附件路径：</span>
              </label>
              <div class="ui-g-8 ui-md-8 input">
                <input type="text" disabled pInputText placeholder="暂无信息" [value]="emRecordOperateField.reviewAttachmentPath">
              </div>
            </div>
            <!--创建时间-->
            <div class="ui-g-6 ui-md-6">
              <label class="ui-g-4 ui-md-4 label">
                <span>创建时间：</span>
              </label>
              <div class="ui-g-8 ui-md-8 input">
                <input type="text" disabled pInputText placeholder="暂无信息" [value]="emRecordOperateField.idt">
              </div>
            </div>
          </div>
        </p-scrollPanel>
      </div>
      <p-footer>
        <button pButton label="关闭" class="ui-button-pink" (click)="emRecordOperateModal = false"></button>
      </p-footer>
    </p-dialog>
  </div>
</div>
