/*全局变量*/
$i_font: 28px; // 全局i标签大小
@mixin  i_style{
  i {
    font-size: $i_font;
  }
}
@mixin input_style{  // 混入
  display: flex;
  color: #C7CCD3;
  border-bottom: 2px solid #EEEEF2;
  align-items: center;
  margin-bottom: 1vh;
  input {
    padding-left: 10px;
    border: 0;
    color: #99A2B0;
    background: #F8F8F8;
    width: 90%;
    height: 3vh;
    font-size: 30px;
  }
}
.login{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  .left-img{
    flex: 6;
    background: #FFFFFF;
    //padding-bottom: 2px;
    img {
      width: 100%;
      height: 99%;
    }
  }
  .right {
    width: 60vh;
    height: 50vh;
    border-radius: 15px;
    background: rgba(255,255,255,0.9);
    display: flex;
    align-items: center;
    flex-direction: column;
    .right-form {
      .form-title-box {
        padding-top: 36px;
        display: flex;
        text-align: center;
        .form-title-img{

        }
        .form-title-text{
          padding-left: 15px;
          h4{
            color: #243856;
            letter-spacing: 0.5rem;
          }
          h2 {
            padding-top: 10px;
            color: #243856;
            letter-spacing: 0.4rem;
            font-weight: bold;
            font-size: 1.5rem;
            margin-top: 1.5vh;
          }
        }
      }
      .form-small-title {
        text-align: center;
        margin-top: 2vh;
        color: #BDC2CA;
      }
      .form-input {
        margin-top: 3vh;
        padding: 0 2vw;
        @include i_style;
        .form-user {
          @include input_style;
        }
        .form-pass {
          @include input_style;
        }
        .form-checks {
          display: flex;
          color: #616E84;
          justify-content: space-between;
          margin-bottom: 4vh;
        }
      }
      .form-btn {
        padding: 0 2vw;
        button {
          width: 100%;
          height: 5vh;
          font-size: 18px;
          background: #2F5081;
          color: #fff;
          border-radius: 4px;
          border: 0;
        }
      }
    }
    .right-bottom {
      padding-top: 20px;
      color: #4D4E5B;
    }
  }
}
