<!--制度评估历史记录-->
<div class="institution-record">
  <h2 class="title text-center pt-3 pb-3 text-littleGray">制度评估历史记录</h2>
  <div class="header pt-2 pb-2">
    <div class="ui-inputgroup">
      <input type="text" pInputText placeholder="请输入关键字" [(ngModel)]="institutionRecordSearchField">
      <button pButton label="搜索" (click)="institutionRecordOperate(institutionRecordOperateFlag = 'search')"></button>
      <button pButton label="重置" class="ui-button-pink" (click)="institutionRecordOperate(institutionRecordOperateFlag = 'reset')"></button>
    </div>
    <div class="button">
<!--      <button pButton type="button" label="新增" class="ui-button-rounded" (click)="institutionRecordOperate(institutionRecordOperateFlag = 'add', fileUpload)"></button>-->
      <button pButton type="button" label="批量删除" class="ui-button-rounded ui-button-danger ml-2" (click)="institutionRecordOperate(institutionRecordOperateFlag = 'multiple')"></button>
      <!--      <button pButton type="button" label="文件导入" class="ui-button-rounded ui-button-darkPrimary ml-2 mr-2" (click)="educateImportFieldModal=true"></button>-->
      <!--      <button pButton type="button" label="文件导出" class="ui-button-rounded ui-button-pink" (click)="educateOperate(educateOperateFlag = 'export')"></button>-->
    </div>
  </div>
  <div class="content">
    <p-table
      [value]="institutionRecordTableData"
      [columns]="institutionRecordTableHeader"
      [(selection)]="institutionRecordTableSelect"
      dataKey="id"
      [scrollable]="true"
      scrollHeight="90%"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>勾选</th>
          <th>序号</th>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
          <th style="width: 15%">操作</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
        <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex" style="text-align: center">
          <td>
            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
          </td>
          <td>{{rowIndex + 1}}</td>
          <td *ngFor="let col of columns" style="overflow: hidden;text-overflow: ellipsis" [pTooltip]="rowData[col.field]">
            {{rowData[col.field]}}
          </td>
          <td style="width: 15%">
            <button pButton label="详情" class="ui-button-rounded mr-2" (click)="institutionRecordOperate(institutionRecordOperateFlag='update',rowData)"></button>
            <button pButton label="删除" class="ui-button-rounded ui-button-pink" (click)="institutionRecordOperate(institutionRecordOperateFlag='del',rowData)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="pagination">
    <app-pagination [option]="institutionRecordPageOption" (clickEvent)="institutionRecordPageEvent($event)"></app-pagination>
  </div>
  <div class="modal">
    <!--新增弹窗-->
    <p-dialog
      [modal]="true"
      [blockScroll]="true"
      [(visible)]="institutionRecordDetailModal" [style]="{width: '50vw'}"
    >
      <p-header>详情查看</p-header>
      <div style="width: 100%;height: 65vh;">
        <p-scrollPanel [style]="{width: '100%', height: '65vh'}" styleClass="role-scroll">
          <div class="ui-g">
            <ng-container *ngIf="institutionRecordOperateField.status === '已修改完成'">
              <!--修改说明-->
              <div class="ui-g-6 ui-md-6">
                <label class="ui-g-4 ui-md-4 label">
                  <span>修改说明：</span>
                </label>
                <div class="ui-g-8 ui-md-8 input">
                  <input type="text" disabled pInputText placeholder="暂无修改说明" [(ngModel)]="institutionRecordOperateField.updateExplain">
                </div>
              </div>
              <!--修改附件地址-->
              <div class="ui-g-6 ui-md-6">
                <label class="ui-g-4 ui-md-4 label">
                  <span>修改附件：</span>
                </label>
                <div class="ui-g-8 ui-md-8 input">
                  <button
                    pButton type="button"
                    [disabled]="!(institutionRecordOperateField.updateExplainPath)"
                    [label]="institutionRecordOperateField.updateExplainPath?'点击下载文件': '暂无附件'"
                    class="ui-button-rounded"
                    (click)="institutionRecordOperate(institutionRecordOperateFlag = 'open',institutionRecordOperateField.updateExplainPath)">
                  </button>
                </div>
              </div>
              <!--评估意见-->
              <div class="ui-g-6 ui-md-6">
                <label class="ui-g-4 ui-md-4 label">
                  <span>评估意见：</span>
                </label>
                <div class="ui-g-8 ui-md-8 input">
                  <input type="text" disabled pInputText placeholder="暂无评估意见" [(ngModel)]="institutionRecordOperateField.evaluateOpinion">
                </div>
              </div>
              <!--评估附件地址-->
              <div class="ui-g-6 ui-md-6">
                <label class="ui-g-4 ui-md-4 label">
                  <span>评估附件：</span>
                </label>
                <div class="ui-g-8 ui-md-8 input">
                  <button
                    pButton type="button"
                    [disabled]="!(institutionRecordOperateField.evaluateOpinionPath)"
                    [label]="institutionRecordOperateField.evaluateOpinionPath?'点击下载文件': '暂无附件'"
                    class="ui-button-rounded"
                    (click)="institutionRecordOperate(institutionRecordOperateFlag = 'open',institutionRecordOperateField.evaluateOpinionPath)">
                  </button>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="institutionRecordOperateField.status === '已评估'">
              <!--评估意见-->
              <div class="ui-g-6 ui-md-6">
                <label class="ui-g-4 ui-md-4 label">
                  <span>评估意见：</span>
                </label>
                <div class="ui-g-8 ui-md-8 input">
                  <input type="text" disabled pInputText placeholder="暂无评估意见" [(ngModel)]="institutionRecordOperateField.evaluateOpinion">
                </div>
              </div>
              <!--评估附件地址-->
              <div class="ui-g-6 ui-md-6">
                <label class="ui-g-4 ui-md-4 label">
                  <span>评估附件：</span>
                </label>
                <div class="ui-g-8 ui-md-8 input">
                  <button
                    pButton type="button"
                    [disabled]="!(institutionRecordOperateField.evaluateOpinionPath)"
                    [label]="institutionRecordOperateField.evaluateOpinionPath?'点击下载文件': '暂无附件'"
                    class="ui-button-rounded"
                    (click)="institutionRecordOperate(institutionRecordOperateFlag = 'open',institutionRecordOperateField.evaluateOpinionPath)">
                  </button>
                </div>
              </div>
            </ng-container>
          </div>
        </p-scrollPanel>
      </div>
      <p-footer>
        <button pButton label="关闭" class="ui-button-pink" (click)="institutionRecordDetailModal = false"></button>
      </p-footer>
    </p-dialog>
  </div>
</div>

