<!--机构详情-->
<div class="detail">
  <h2 class="title text-center pt-3 pb-3 text-littleGray">安全生产管理机构设置详情</h2>
  <div class="header pt-2 pb-2">
    <div class="ui-inputgroup"></div>
    <div class="button" style="flex: 1;text-align: right">
      <button pButton type="button" label="新增" class="ui-button-rounded" (click)="detailOperate(detailOperateFlag = 'add')"></button>
      <button pButton type="button" label="编辑" class="ui-button-rounded ui-button-warning ml-2" (click)="detailOperate(detailOperateFlag = 'update')"></button>
      <button pButton type="button" label="删除" class="ui-button-rounded ui-button-danger ml-2" (click)="detailOperate(detailOperateFlag = 'del')"></button>
    </div>
  </div>
  <div class="content">
    <p-treeTable
      selectionMode="single"
      dataKey="id"
      [scrollable]="true"
      scrollHeight="90%"
      [(selection)]="detailTableSelect"
      [value]="detailTableData"
      [columns]="detailTableHeader">
      <ng-template pTemplate="header" let-columns  let-rowNode>
        <tr [ttRow]="rowNode">
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode">
          <td *ngFor="let col of columns; let i = index">
            <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
            {{rowData[col.field]}}
          </td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>
  <div class="pagination">
    <app-pagination [option]="detailPageOption" (clickEvent)="detailPageEvent($event)"></app-pagination>
  </div>
  <div class="modal">
    <!--新增/编辑弹窗-->
    <p-dialog
      [modal]="true"
      [blockScroll]="true"
      [(visible)]="detailOperateModal" [style]="{width: '50vw'}"
    >
      <p-header>{{detailOperateFlag === 'update' ? '记录编辑' : '记录添加'}}</p-header>
      <div style="width: 100%;height: 65vh;">
        <p-scrollPanel [style]="{width: '100%', height: '65vh'}" styleClass="role-scroll">
          <div class="ui-g">
            <!--所属父级-->
            <div class="ui-g-6 ui-md-6">
              <label class="ui-g-4 ui-md-4 label">
                <span>所属父级：</span>
              </label>
              <div class="ui-g-8 ui-md-8 input">
                <button
                  pButton type="button"
                  style="width: 100%"
                  [label]="detailTreeSelect.label?detailTreeSelect.label:detailTreeSelectLabel"
                  class="ui-button-white text-left"
                  (click)="detailOperate(detailOperateFlag = 'tree')">
                </button>
              </div>
            </div>
            <!--名称-->
            <div class="ui-g-6 ui-md-6">
              <label class="ui-g-4 ui-md-4 label">
                <span>名称：</span>
              </label>
              <div class="ui-g-8 ui-md-8 input">
                <input type="text" pInputText placeholder="请填名称" [(ngModel)]="detailOperateField.name">
              </div>
            </div>
            <!--详细描述-->
            <div class="ui-g-12 ui-md-12">
              <label class="ui-g-2 ui-md-2 label">
                <span>详细描述：</span>
              </label>
              <div class="ui-g-10 ui-md-10 input">
                <textarea [rows]="5" [cols]="30" [(ngModel)]="detailOperateField.description" pInputTextarea autoResize="autoResize" placeholder="请填写详细描述"></textarea>
              </div>
            </div>
          </div>
        </p-scrollPanel>
      </div>
      <p-footer>
        <button pButton label="保存" (click)="detailOperate(detailOperateFlag = 'save')"></button>
        <button pButton label="取消" class="ui-button-pink" (click)="detailOperateModal = false"></button>
      </p-footer>
    </p-dialog>
    <!--SPI树弹窗-->
    <p-dialog
      [modal]="true"
      [(visible)]="detailTreeModal" [blockScroll]="true"
      [contentStyle]="{width: '30vw',height: '30vh'}">
      <p-header>请选择SPI树</p-header>
      <p-scrollPanel [style]="{width: '100%', height: '250px'}">
        <p-tree
          [style]="{width: '100%'}"
          [value]="detailTree"
          [(selection)]="detailTreeSelect"
          selectionMode="single">
        </p-tree>
      </p-scrollPanel>
      <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="detailOperate('select')" label="确定"></button>
      </p-footer>
    </p-dialog>
  </div>
</div>
