<div class="contents">
  <h2 class="title text-center pt-3 pb-3 text-littleGray">待审核清单</h2>
  <div class="content">
    <p-table
      [value]="items" [columns]="tableHeader"
      [scrollable]="true" scrollHeight="90%"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>序号</th>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
          <th>操作</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
        <tr>
          <td>{{rowIndex}}</td>
          <td *ngFor="let col of columns">
            {{rowData[col.field]}}
          </td>
          <td>
            <button pButton label="查看" class="ui-button-rounded mr-3"
                    (click)="detail(rowData)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="pagination">
    <app-pagination [option]="pageOption" (clickEvent)="contentsPageEvent($event)"></app-pagination>
  </div>
  <div class="modal">
    <p-dialog
      [modal]="true"
      [blockScroll]="true"
      header="详情"
      [(visible)]="displayDetail"
      [style]="{width: '60vw'}"
    >
      <div class="ui-g-12 doubleDutyEvaluationContents" *ngFor="let content of item?.doubleDutyEvaluationContents; let i = index">
        <div class="ui-g-12">
          <p>{{i +1}} .（{{content.fraction}}分）{{content.content}}</p>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-9">
            <h5>自评内容&nbsp;</h5>
            <input disabled type="text" pInputText [(ngModel)]="content.selfEvaluation">
          </div>
          <div class="ui-g-3">
            <h5>自评得分</h5>
            <input disabled style="max-width: 120px" type="text" pInputText [(ngModel)]="content.selfFraction">
          </div>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-9">
            <h5>检查结果&nbsp;</h5>
            <input type="text" pInputText [(ngModel)]="content.checkResult">
          </div>
          <div class="ui-g-3">
            <h5>检查得分</h5>
            <input style="max-width: 120px" type="text" pInputText [(ngModel)]="content.checkFraction">
            <span style="color: red" *ngIf="content.checkFraction > content.fraction">检查得分不能大于总分</span>
          </div>
        </div>
      </div>
      <div class="ui-g-12 doubleDutyEvaluationContents">
        <div class="ui-g-12">
          <h5>未履职情况&nbsp;</h5>
          <input type="text" pInputText [(ngModel)]="checkItem.badSituation">
        </div>
        <div class="ui-g-12">
          <h5>纠正与考核情况</h5>
          <input type="text" pInputText [(ngModel)]="checkItem.correctSituation">
        </div>
        <div class="ui-g-12 text-center">
          <p-button label="提交" (click)="save()"></p-button>
        </div>
      </div>
    </p-dialog>
  </div>
</div>
